game-card {
	@include display(flex);
	@include padding(1rem 1.5rem);
	@include margin(0.5rem null);
	@include border-top-radius(0.5rem);
	@include border-bottom-radius(0.5rem); 

	cursor: pointer;

	@mixin set-background($color) {
		background-color: lighten($color, 45%);
		&:hover {
			background-color: lighten($color, modular-scale(-1, 45%));
		}
	}

	&.won {
		@include set-background(green);
	}

	&.lost {
		@include set-background(red);
	}
}