[data-directive="game-card"] {

	.no-gutter > [class*='col-'] {
	    padding-right:0;
	    padding-left:0;
	}

	
	@mixin image-icon($max-width) {
		height: auto;
		max-width: $max-width;
		padding: 0.25rem;
	}

	@mixin position($top: auto, $bottom: auto, $left: auto, $right: auto) {
		top: $top;
		left: $left;
		right: $right;
		bottom: $bottom;
	}

	@mixin absolute($top: auto, $bottom: auto, $left: auto, $right: auto) {
		@include position($top: $top, $bottom: $bottom, $left: $left, $right: $right);
		position: absolute;
	}

	@mixin relative($top: auto, $bottom: auto, $left: auto, $right: auto) {
		@include position($top: $top, $bottom: $bottom, $left: $left, $right: $right);
		position: relative;
	}

	$champion-size: 8rem;
	$item-size: 5rem;
	$trinket-size: 5rem;
	$summoner-spell-size: 4rem;

	.panel-body {
		@include relative();
	}

	.spells {
		img {
			display: block;
		}

		width: $summoner-spell-size;
	}

	figure {
		@include absolute($top: 0, $left: $summoner-spell-size + 2rem);
	}

	.stats {
		@include absolute($top: 0, $left: $summoner-spell-size + $champion-size + 3rem);
		text-align: center
	}

	.items {
		white-space: nowrap;
		float: right;
		@include absolute($top: 50%, $right: 0);
		transform: translateY(-50%);
		padding-right: 1rem;

	}

	// .panel-body {
	// 	height: $champion-size + 5rem;
	// }

	.item {
		@include image-icon($item-size);
		cursor: pointer;
	}

	.item-more-details {
		@include image-icon($item-size - 2rem);
		cursor: pointer;
	}	

	.champion {
		@include image-icon($champion-size);
		cursor: pointer;
	}

	.champion-more-details {
		@include image-icon($champion-size - 5rem);
		cursor: pointer;
	}	

	.trinket {
		@include image-icon($trinket-size);
		cursor: pointer;
	}

	.summoner-spell {
		@include image-icon($summoner-spell-size);
		cursor: pointer;
	}

	.summoner-spell-more-details {
		@include image-icon($summoner-spell-size - 1.5rem);
		cursor: pointer;
	}

	th, tr{
		text-align: center;
	}

}
