<div data-directive="game-card">

	<div class="panel panel-default" ng-class="{'panel-success': won, 'panel-danger': !won}">
		<div class="panel-heading"> 
			<span class="pull-right">{{playedAgo}}</span>
			<span>{{queueType}} - {{gameLength}}<span>
		</div>
		<div class="panel-body">

			<div class="row">
				<div class="col-xs-12">
					<div class="spells clearfix">
						<img ng-repeat="spell in summonerSpells" src="http://localhost:9000/assets/dragon/img/spell/{{'Summoner' + spell.name}}.png" alt="{{spell.name}}" class="summoner-spell">
						
					</div>	
					<figure>
						<img src="http://localhost:9000/assets/dragon/img/champion/{{champion.name}}.png" class="champion" alt="...">
						<figcaption>
							<span>{{champion.level}}</span> - 
							<span>{{champion.name}}</span>
						</figcaption>
					</figure>

					<span class="stats">
						{{kda.kills}} / {{kda.deaths}} / {{kda.assists}}
						{{goldEarned}} 
					</span>
					<div class="items">
						
						<img ng-repeat="item in items track by $index" src="http://localhost:9000/assets/dragon/img/item/{{item}}.png" class="item" alt="item">
						
						<img src="http://localhost:9000/assets/dragon/img/item/{{trinket}}.png" class="trinket item" alt="item">
							
					</div>	
				</div>
			</div>
		</div>
		
	</div>
</div>