<div data-template="summoner" ng-controller="SummonerController as summoner">
    <div class="summoner-info">
        <img ng-src="http://localhost:9000/assets/dragon/img/profileicon/{{summoner.profileIconId}}.png" alt="profileIcon">
        <span class="label label-default">{{summoner.summonerLevel}}</span>
        <h1 class="summoner-name"> {{summoner.name}}</h1> 
    </div>

    <ul class="list-unstyled">
        <li ng-repeat="game in summoner.matchHistory">
            <lq-game game="game" summoner="summoner"></lq-game>
        </li>
    </ul>
</div>
