<div data-template="summoner" ng-controller="SummonerController as summoner">
    <header class="summoner-header">
        <ddragon-img type="profile-icon" name="{{summoner.profileIconId}}"> </ddragon-img>
        <span class="summoner-header-body">
            <h1> {{summoner.name}}</h1>
            <h2> Level: {{summoner.summonerLevel}}</h2> 
        </span>
    </header>
    <!-- <ul class="list-unstyled">
        <li ng-repeat="game in summoner.matchHistory">
            <lq-game game="game" summoner="summoner"></lq-game>
        </li>
    </ul> -->
</div>
