// imports style resets
@import './vendor';
@import './components/components';
@import './shared/shared';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

$profileIcon-size: 10rem;

.summonerInfo{
	height: $profileIcon-size + 2rem;

	.profileIcon {
	float: left;
	height: auto;
	max-width: $profileIcon-size;
	padding: 0.25rem;
	}

	.summonerName {
	float: left;
	position: relative;
	padding: 0.5rem;
	}

	.label{
		display: block;
		background-color: #008CBA;
		color: #fff;
		position: absolute;
		margin-top: 1rem;
		margin-left: 1rem;
		padding: 0.25rem 0.5rem 0.25rem 0.5rem;
	}
}

.nav, .pagination, .carousel, .panel-title a, a { cursor: pointer; }
// injector
// endinjector
